# Data exploration

In [2]:
# importamos los paquetes necesarion
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from mlxtend.frequent_patterns import apriori

% matplotlib inline

In [12]:
df_sessions = pd.read_csv('C:\\Users\\OLX - Gonzalo\\Desktop\\tesis\\session_base.tsv', sep = '\t')
df_sessions = df_sessions.set_index('session_fake_id')

# Frequent itemset mining

In [4]:
# cargo los dataset en tres partes y los uno
df1 = pd.read_csv('C:\\Users\\OLX - Gonzalo\\Desktop\\tesis\\event_base_1.tsv', sep = '\t')
df2 = pd.read_csv('C:\\Users\\OLX - Gonzalo\\Desktop\\tesis\\event_base_2.tsv', sep = '\t')
df3 = pd.read_csv('C:\\Users\\OLX - Gonzalo\\Desktop\\tesis\\event_base_3.tsv', sep = '\t')

df_events = pd.concat([df1, df2, df3])

In [5]:
basket_before = (df_events[df_events['before_or_not_start'] ==1]
          .groupby(['session_fake_id', 'event_id'])['session_fake_id']
          .count().unstack().reset_index().fillna(0)
          .set_index('session_fake_id'))

In [10]:
basket_before.columns

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,  14,
        15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  27,  28,  29,  30,
        31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44,
        45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,
        59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,
        73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,
        87,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100,
       101],
      dtype='object', name='event_id')

In [15]:
all_base = df_sessions.merge(basket_before, left_index = True, right_index = True, how = 'left')

In [30]:
all_base[all_base[2]==0][3].count() / all_base[2].count()

0.35732998702682633

In [19]:
frequent_itemsets = apriori(basket_before.sample(n = 1000, replace = False), min_support=0.01, use_colnames=True)

In [32]:
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets[ (frequent_itemsets['length'] == 3)]

     support     itemsets  length
113    0.192    [1, 2, 3]       3
114    0.169    [1, 2, 4]       3
115    0.106    [1, 2, 5]       3
116    0.083    [1, 2, 6]       3
117    0.091    [1, 2, 7]       3
118    0.100    [1, 2, 8]       3
119    0.100    [1, 2, 9]       3
120    0.076   [1, 2, 10]       3
121    0.107   [1, 2, 11]       3
122    0.083   [1, 2, 12]       3
123    0.087   [1, 2, 13]       3
124    0.109   [1, 2, 14]       3
125    0.100   [1, 2, 15]       3
126    0.059   [1, 2, 16]       3
127    0.077   [1, 2, 17]       3
128    0.070   [1, 2, 18]       3
129    0.083   [1, 2, 19]       3
130    0.069   [1, 2, 20]       3
131    0.071   [1, 2, 21]       3
132    0.059   [1, 2, 23]       3
133    0.113    [1, 3, 4]       3
134    0.076    [1, 3, 5]       3
135    0.050    [1, 3, 6]       3
136    0.057    [1, 3, 7]       3
137    0.069    [1, 3, 8]       3
138    0.069    [1, 3, 9]       3
139    0.067   [1, 3, 10]       3
140    0.112   [1, 3, 11]       3
141    0.065   [1, 3, 12]       3
142    0.056   [1, 3, 13]       3
..       ...          ...     ...
191    0.061   [2, 3, 15]       3
192    0.052   [2, 3, 17]       3
193    0.050   [2, 3, 19]       3
194    0.060    [2, 4, 5]       3
195    0.058    [2, 4, 8]       3
196    0.058    [2, 4, 9]       3
197    0.054   [2, 4, 11]       3
198    0.100   [2, 4, 14]       3
199    0.056   [2, 4, 15]       3
200    0.058   [2, 6, 16]       3
201    0.059   [2, 6, 19]       3
202    0.087   [2, 7, 13]       3
203    0.091    [2, 8, 9]       3
204    0.081   [2, 8, 15]       3
205    0.055   [2, 8, 21]       3
206    0.081   [2, 9, 15]       3
207    0.055   [2, 9, 21]       3
208    0.071  [2, 10, 12]       3
209    0.053  [2, 15, 21]       3
210    0.051  [2, 18, 20]       3
211    0.058   [3, 4, 14]       3
212    0.059    [3, 8, 9]       3
213    0.050   [3, 8, 15]       3
214    0.050   [3, 9, 15]       3
215    0.051  [3, 10, 12]       3
216    0.057    [4, 8, 9]       3
217    0.090   [8, 9, 15]       3
218    0.057   [8, 9, 21]       3
219    0.057  [8, 15, 21]       3
220    0.057  [9, 15, 21]       3

[108 rows x 3 columns]

In [74]:
#df_sessions[['starter', 'finisher']].head()

df_events_starters = df_events.set_index('session_fake_id').merge(df_sessions[['starter']], left_index = True, right_index = True, how = 'left')

In [75]:
n_events_not_starters = df_events_starters['event_id'][df_events_starters['starter'] == 0].count()
n_events_starters_before = df_events_starters['event_id'][(df_events_starters['starter'] == 1)
                                                       & (df_events_starters['before_or_not_start'] ==1)].count()

df_events_starters[['event_id', 'starter']][df_events_starters['starter'] == 0].groupby(['event_id']).count() / n_events_not_starters 

df_events_starters[['event_id', 'starter']][(df_events_starters['starter'] == 1)
                                                       & (df_events_starters['before_or_not_start'] ==1)].groupby(['event_id']).count() / n_events_starters_before

           starter
event_id
1         0.177638
2         0.143829
3         0.090781
4         0.051313
5         0.032942
6         0.027143
7         0.027930
8         0.028909
9         0.028873
10        0.027452
11        0.026698
12        0.026252
13        0.024032
14        0.025822
15        0.024251
16        0.017513
17        0.019106
18        0.018134
19        0.018922
20        0.016698
21        0.014144
22        0.011595
23        0.013069
24        0.011232
25        0.001663
26        0.001444
27        0.011139
28        0.007314
29        0.007547
30        0.007210
...            ...
72        0.000675
73        0.000091
74        0.000119
75        0.000599
76        0.000093
77        0.000349
78        0.000269
79        0.000240
80        0.000215
81        0.000194
82        0.000163
83        0.000201
84        0.000186
85        0.000147
86        0.000019
87        0.000034
88        0.000095
89        0.000204
90        0.000013
91        0.000061
92        0.000055
93        0.000025
94        0.000093
95        0.000031
96        0.000006
97        0.000045
98        0.000013
99        0.000004
100       0.000018
101       0.000018

[101 rows x 1 columns]

In [79]:
#basket_starters_before = all_base[basket_before.columns][all_base['starter']==1]
#basket_not_starters = all_base[basket_before.columns][all_base['starter']==0]

basket_starters_before.to_csv('C:\\Users\\OLX - Gonzalo\\Desktop\\tesis\\basket_starters_before.csv')
basket_not_starters.to_csv('C:\\Users\\OLX - Gonzalo\\Desktop\\tesis\\basket_not_starters.csv')
all_base.to_csv('C:\\Users\\OLX - Gonzalo\\Desktop\\tesis\\all_base.csv')